@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size:14px;
	color: #222;
	font-family: 'Poppins', sans-serif;
	font-weight: 400; 
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */

@media (min-width: 1200px)
{
	.wrapper .container { max-width: 1240px;	}
}	

.wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;background-color: #f2f2f2;}
.top-menu { background-color: #fdd947; padding: 15px 0; height: 80px;}
.header-text P {font-size: 15px;}
.social-media img {width: 14px; height: auto;}
.social-media ul li {display: inline-block; padding: 0 8px; margin: 0;}
.social-media ul li .fa {font-size: 14px; color:#000;}
.social-media ul li .fa:hover { color:#fff;}
.social-media ul { padding: 0; margin: 0;}
.social-media img.gplus{width: 16px; height: auto;}
.phone-number a .fa {font-size: 30px; padding-right: 5px; top: 5px; position: relative;}
.phone-number a {color: #000;font-size: 15px;position: relative;top: -13px;}
.phone-number a:hover {color: #fff;}
/* .phone-number img {position: relative; width: 25px;} */
.navbar-custom {padding: 0;}
.navbar-brand img { width: 150px; height: auto;}
.main-menu {  position: relative; background-color: #0d0337; width: 100%;}
.navbar-custom {height: 100px;}
.navbar-custom .navbar-nav .nav-link {color: #fff !important; padding: 10px 20px !important;}
.navbar-custom .navbar-nav .active>.nav-link {color: #fdd947 !important;}
.navbar-light .navbar-toggler-icon {color: #fdd947;}
.banner-section{width: 100%;display: flex;flex-direction: column; justify-content: center;align-content: center;align-items: center; position: relative; top: -100px;}
.carousel-caption {height: 100%; display: flex; justify-content: center; align-content: flex-end; align-items: flex-end; flex-direction: column; text-align: right !important; width: 45%; left: 30% !important;}
.carousel-caption h2 {font-size: 30px; font-weight: 600; font-style: italic; }
.carousel-caption h3 {font-size: 60px; font-weight: 600;}
.carousel-caption p {font-size: 18px; line-height: 24px; margin-bottom: 50px;}
.btn-discover  {display: inline-block; line-height: 40px; padding: 10px 40px; color: #fff; background-color: transparent; font-size: 18px; border: solid 1px #fff; }
.btn-discover:hover {color: #fdd947; border: 1px solid #fdd947;} 
.featureBox {padding: 40px 60px; background-color: #fff; }
.featureBox h2 {font-size: 32px; font-weight: 700; color: #0d0337;}
.featureBox p {font-size: 16px;  font-weight: 400; line-height: 24px; color: #000;}
.featureInner {background-color: #fff;-webkit-box-shadow: 1px 1px 20px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 20px -3px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 20px -3px rgba(0,0,0,0.75);}
.for-content-div { position: relative; top: -150px;}

.for-content-section {height: 135px;}
.title-section p {padding-right: 10px; margin-bottom: 0px;}
.aboutus-section {background-color: #fff; }
.heading-div .title-section { padding: 50px 0 50px 0;}
.title-section h3 {font-size: 16px; border-left: 5px solid #fdd947; margin: 0; padding-left: 30px; line-height: 20px;}
.title-section p {color: #626262;}
.Border-bottom {border-bottom: 1px solid #d9d9d9; }
.content-section p {font-size: 16px; color: #666666; line-height: 30px; font-weight: 400; padding: 40px 0;}

.intro-div { background-image: url('../images/bg-intro.jpg'); background-repeat: no-repeat;  height: 100%; background-size: 100%; background-position: center;}
.intro-box {padding: 80px 0  80px 80px; }
.intro-box h1 {color: #fff; font-size: 36px; font-weight: 700; margin-bottom: 30px;}
.intro-box p {color: #fff; font-size: 14px; line-height: 24px; font-weight: 400; }

.gray-content-div  {background-color: #f6f6f6; padding:  60px 0;}
.gray-content-div img {margin-bottom: 30px}
.gray-content-div h3 {color: #000; font-size: 14px; margin-bottom: 20px; font-weight: 600; }
.gray-content-div p {color: #828282; font-size: 14px; margin-bottom: 20px; line-height: 24px; font-weight: 500;}
.business-feature {display: flex;  flex-direction: column; justify-content: center; align-content: center; align-items: center; text-align: center; padding: 30px;}

.showcase-section {background-color: #fff;}
.showcases .masonry {width: 100%;float: left;margin: 0;padding:  80px 0;}
.showcases .masonry li {width: 25%;float: left;margin: 0;padding: 5px !important;list-style: none;}
.showcases .masonry li figure:hover img {transform: scale(1.05);}
.showcases .masonry li figure a {float: left;}
.showcases .masonry li figure a img { width: 100%;}
.showcases .masonry li.double {width: 50%;}
.showcases .masonry li {width: 25%;float: left;margin: 0;padding: 5px;list-style: none;}
.showcases .masonry li figure {width: 100%;float: left;margin: 0;position: relative;background: #262d57;overflow: hidden;}
.showcases .masonry li figure figcaption {width: 100%;float: left;padding: 20px 30px;padding-top: 50px;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);position: absolute;left: 0;bottom: 0;}	
.showcases .masonry li * {-webkit-transition: 0.25s ease-in-out;-moz-transition: 0.25s ease-in-out;-ms-transition: 0.25s ease-in-out;-o-transition: 0.25s ease-in-out;transition: 0.25s ease-in-out;}
.showcases .masonry li figure figcaption h6 {font-weight: 600;font-size: 20px;margin-bottom: 0;color: #fff;}
.showcases .masonry li figure figcaption small {font-size: 14px;color: #fff;opacity: .8;}
.showcases .masonry li * {-webkit-transition: 0.25s ease-in-out;-moz-transition: 0.25s ease-in-out;-ms-transition: 0.25s ease-in-out;-o-transition: 0.25s ease-in-out;transition: 0.25s ease-in-out;}
 figure {display: block;}
.for-business-section, .for-You-section {background-color: #fff;}
.showcases { margin: 80px 0 0px 0;}
.showcases .all-btn {height: 54px;line-height: 52px; text-transform: uppercase; display: inline-block; border: 1px solid #eaebee;color: #405089;padding: 0 40px;font-weight: 600;font-size: 13px;margin-top: 40px;text-align: center;}
.showcases .btn-all {text-align: center; margin-bottom: 80px;}
.all-btn:hover {background-color: #1d1663; color: #fff;border-color: #fff; }

.testimonials {width: 100%;display: flex;flex-wrap: wrap;padding: 80px 0;background: url(../images/world-map.png) center no-repeat #405089;text-align: center;color: #fff;background-size: auto 100%; }
.testimonials .section-title h2 {display: block;font-weight: 700; color: #fff; margin-bottom: 20px; font-size: 40px; text-transform: capitalize;}
.testimonial .Profile img {width: 100px; height: 100px;  border-radius: 100px;}
.testimonial .Profile { margin: 70px 0 22px 0;}
.Quote p {font-size: 24px;line-height: 30px; color: #fff; letter-spacing: 1px;}
.itemInner {text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.testimonial .Profile img.quote-img {position: relative; width: 30px; height: 30px; top: -17px;}
.profile-thumb {margin: 0 auto;display: flex;justify-content: center;align-items: center;}

.work-together { padding: 80px 0; background-color: #fdd947;}
.div-btn-work {display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;}
.div-btn-work h2 {font-size: 40px; font-weight: 700; color: #1d1663; text-align: center; margin-bottom: 70px; letter-spacing: 1px;}
.div-btn-work a.btn-work {height: 54px;line-height: 52px;display: inline-block;border: 1px solid #1d1663;color: #1d1663;padding: 0 40px;font-weight: 600;font-size: 13px;text-align: center;}
a.btn-work:hover {border-color: #1d1663; background-color: #1d1663; color: #fdd947; }

.address-bar {background-color: #fff; padding: 55px 0 35px 0;}
.address-bar img {width: 25px; height: auto; margin-bottom: 10px;}
.address-bar p {font-size: 14px; line-height: 24px; }

.footer {background-color: #f4f4f4; margin: 50px 0 0px 0;}
.ul-footer li {padding: 5px 0; font-size: 14px;}
.ul-footer li a  {color: #828282; font-size: 15px;}
.ul-footer li a:hover  {color: #0d0337;}
.footer-div h3 {font-size: 15px;}

button:focus {outline: none !important;}

.footer-bottom {background-color: #0d0337; padding: 30px; color: #fff; font-size: 15px; }
.footer-bottom p {margin-bottom: 0; line-height: 26px;}
.footer-bottom a {color: #fff;}
.footer-bottom a:hover {color: #fdd947;}

.menu-bottom, .menu-socical-mdeia {margin: 20px 0 40px 0;}
.menu-bottom ul li {display: inline-block; }
.menu-bottom ul li:first-child  a { padding-left: 0;}
.menu-bottom ul li a {padding: 10px 20px; color: #0d0337; font-weight: 500; font-size: 14px;}
.menu-bottom ul li a:hover {color: #828282} 
.menu-socical-mdeia ul li {display: inline-block; }
.menu-socical-mdeia ul li a {padding: 10px 20px; color: #000; font-weight: 500; font-size: 20px;}
.menu-socical-mdeia ul li a:Hover {color: #828282;}
.menu-socical-mdeia ul li:last-child a {padding-right: 0px;}
.menu-socical-mdeia a img {width: 22px;}
.menu-socical-mdeia a.gplus img {width: 25px; height: auto;}

.arrow-link .fa {font-size: 25px; width: 30px; color: #828282;}
.arrow-link a:hover .fa {color: #0d0337;} 
.menu-socical-mdeia a.facebook:hover {background-image: url('../images/icon/facebook-hover.png');}
.menu-socical-mdeia a.twitter:hover {background-image: url('../images/icon/twitter-logo-hover.png');}
.menu-socical-mdeia a.linkdin:hover {background-image: url('../images/icon/linkedin;hover.png');}
.menu-socical-mdeia a.gplus:hover {background-image: url('../images/icon/google-plus-hover.png');}

.business-feature:hover {background-color: #0d0337; }
.business-feature:hover h3 {color: #fff;}
.business-feature:hover p {color: #fff;}

.business-feature:hover .icons {
    fill: #ffffff;
    color: #ffffff;
    background-color: #fdd947;
}	

.icons.icon-1 {
    -webkit-mask: url(../images/icon/money.svg) no-repeat 80% 80%;
    mask: url(../images/icon/money.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-2 {
    -webkit-mask: url(../images/icon/gavel.svg) no-repeat 80% 80%;
    mask: url(../images/icon/gavel.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-3 {
    -webkit-mask: url(../images/icon/accounting.svg) no-repeat 80% 80%;
    mask: url(../images/icon/accounting.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons.icon-4 {
    -webkit-mask: url(../images/icon/career.svg) no-repeat 80% 80%;
    mask: url(../images/icon/career.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-5 {
    -webkit-mask: url(../images/icon/book.svg) no-repeat 80% 80%;
    mask: url(../images/icon/book.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-6 {
    -webkit-mask: url(../images/icon/property.svg) no-repeat 80% 80%;
    mask: url(../images/icon/property.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-7 {
    -webkit-mask: url(../images/icon/gavel.svg) no-repeat 80% 80%;
    mask: url(../images/icon/gavel.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons.icon-8 {
    -webkit-mask: url(../images/icon/dinner.svg) no-repeat 80% 80%;
    mask: url(../images/icon/dinner.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons.icon-9 {
    -webkit-mask: url(../images/icon/pulse.svg) no-repeat 80% 80%;
    mask: url(../images/icon/pulse.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons.icon-10 {
    -webkit-mask: url(../images/icon/bus.svg) no-repeat 80% 80%;
    mask: url(../images/icon/bus.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-11 {
    -webkit-mask: url(../images/icon/mentorship.svg) no-repeat 80% 80%;
    mask: url(../images/icon/mentorship.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-12 {
    -webkit-mask: url(../images/icon/property.svg) no-repeat 80% 80%;
    mask: url(../images/icon/property.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-13 {
    -webkit-mask: url(../images/icon/logistics.svg) no-repeat 80% 80%;
    mask: url(../images/icon/logistics.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons.icon-16 {
    -webkit-mask: url(../images/icon/security.svg) no-repeat 80% 80%;
    mask: url(../images/icon/security.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-15 {
    -webkit-mask: url(../images/icon/dinner.svg) no-repeat 80% 80%;
    mask: url(../images/icon/dinner.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-14 {
    -webkit-mask: url(../images/icon/planning.svg) no-repeat 80% 80%;
    mask: url(../images/icon/planning.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons.icon-17 {
    -webkit-mask: url(../images/icon/sponsor.svg) no-repeat 80% 80%;
    mask: url(../images/icon/sponsor.svg) no-repeat 80% 80%;
    height: 60px;
}

.icons.icon-18 {
    -webkit-mask: url(../images/icon/technology.svg) no-repeat 80% 80%;
    mask: url(../images/icon/technology.svg) no-repeat 80% 80%;
    height: 60px;
}
.icons {margin: 0 auto 25px auto;padding: 0;width: 60px;display: block;background-size: cover;vertical-align: middle;text-align: center;fill: #ff3a22;color: #ff3a22;-webkit-mask-size: cover;mask-size: cover;background-color: #828282;}

.business-feature img {height: 50px; width: 50px;}
.owl-prev span, .owl-next span {display: none !important;}

.top-header { padding: 0; margin: 0; position: relative; width: 100%;top: 0;z-index: 999; }
.header-div{ padding: 0;margin: 0;height:100px;width: 100%;  }
.bg-navigation{ background-color: #0d0337;box-shadow: 0 0 6px 0 rgba(50, 50, 50, 0.2);width: 100%; top: -27px; position: relative; }
.header-div .logo-thumb{ padding: 0;margin: 0;height: 100px;display: flex;justify-content: flex-start;align-items: center; }
.header-div .logo-thumb .img-logo{ width: 190px; }

.top-nav1 {display: flex; justify-content: center; align-items: center; align-items: center; align-content: center;height: 100px;}
.top-nav-div{ padding: 0;margin: 0;width: 100%; }
.top-nav-div .fa-search:hover {color: #fdd947;}
.ullist-inline { padding: 0;margin: 0;display: flex;align-items: center;height: 65px; }
.ullist-inline li{ padding: 0;margin: 0;display: inline-block;padding: 10px 30px;text-transform: capitalize;font-size: 15px; }
.ullist-inline li a{ color: #fff !important; }
.ullist-inline li:hover a{ color: #fdd947 !important; }
.ullist-inline li a.active{ color: #fdd947 !important; }
.ullist-inline li a.btn-primaryc1 { height: 30px; font-size: 12px; color: #fff; background-color: #ed1b2f; border: 1px solid #ed1b2f; 	}
.ullist-inline li a.btn-primaryc1:hover, .ullist-inline li a.btn-primaryc1:focus{ box-shadow: none!important;background-color: #000;border: 1px solid #000; }
.carousel {width: 100%;}
.carousel-item img {width: 100%;}

/* navigation */
.header-nav-logo-div .nav-div {margin: 0;padding: 0;align-self: flex-start;-webkit-flex: 5;-ms-flex: 5;flex: 5;}
.nav-div .closebtn {display: none;}

/* End of navigation */
.btn:focus, .btn:focus{ box-shadow: none; }
.top-nav1{ padding: 0;margin: 0;float: right; }
.top-nav2 { padding: 0;margin: 0;float: right; }
/* footer */
.top-nav75 {padding: 0;margin: 0;float: right;width: 65%;display: flex;justify-content: center;}
.top-nav25 {padding: 0;margin: 0;float: right;width: 35%;display: flex;justify-content: right;justify-content: flex-end!important;}

.display-none{ display: none; }



/* ============================================================About us page start =========================================================*/


.page-header {width: 100%;display: flex;position: relative;z-index: 0;margin-top: -100px;padding-top: 130px;padding-bottom: 50px;background: #405089;}
.page-header .breadcrumb {display: flex;padding: 0;margin: 0 0 5px 0;border-radius: 0;background: none;}
.page-header h2 {font-weight: 800;color: #fff;font-size: 54px;}
.page-header p {color: #fff; line-height: 22px; margin: 0;}

.page-header .breadcrumb li a {color: #fff;}
.page-header .breadcrumb li.active{color: #fff;}
.page-header .breadcrumb li {color: #fff;font-size: 12px;padding-left: 10px;font-weight: 600;}
.section-title span {display: block;font-size: 18px;font-weight: 800;margin-bottom: 10px;}
 .section-title h2 {display: block;font-weight: 700; color: #0d0337;margin-bottom: 20px;}

.content {width: 100%;display: flex;flex-wrap: wrap;padding: 80px 0;background-color: #fff;}
.content p {line-height: 26px;font-size: 15px;color: #666666;}
.mission-vision {background-image: url("../images/bg-aboutus.png");background-size: cover;background-position: center;color: #fff;}
.page-header .breadcrumb li:first-child {padding: 0;}
.page-header .breadcrumb li.second:before {content: "";color: #fff;font-family: fontAwesome;font-size: 8px;padding-right: 10px;transform: translateY(-1px);}
	
.mission-vision .section-title h2{color: #fff;}
.mission-vision  p{color: #fff;}

/*  showcase and For Buisness pages */

.showcase-page {margin-bottom: 80px;}

.solutions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	padding: 80px 0;
	background-color: #fff; 
}
.solutions .sidebar ul li a {
    float: left;
    font-weight: 600;
	color: #405089;}
	
.solutions .sidebar {
		width: 100%;
		max-width: 340px;
		float: left;
		border: 1px solid #eaebee;
		position: -webkit-sticky !important;
		position: sticky !important;
		top: 0;
}
.solutions .sidebar ul {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.solutions .sidebar ul li {
    width: 100%;
    line-height: 60px;
    float: left;
    margin: 0;
    padding: 0 20px;
    list-style: none;
	border-bottom: 1px solid #eaebee;}

.solutions .sidebar ul li a {
		float: left;
		font-weight: 600;
		color: #405089;
	}
	.solutions .sidebar ul li ul {
		display: none;
	}
	.solutions .sidebar ul li.active {
		background-color: #fdd947;
	}
	.solutions .sidebar ul {
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
	}
	.dropdown, .dropleft, .dropright, .dropup {
		position: relative;
	}
	
	.solutions .content-box {
		width: 100%;
		float: left;
	}
	
	.solutions .content-box figure {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
	.solutions .content-box h5 {
		display: block;
		color: #0d0337;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 15px;
		margin-top: 15px; }

	.solutions p {
			line-height: 26px;
			color: #666666;
			font-size: 15px;
		}	
/*########################################################## About us Page End ##################################################################*/

/* ============================================================Contact us page start =========================================================*/


.contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	padding: 80px 0;
	background-color: #fff;
}

.contact h6 {
	font-weight: 600;
	font-size: 15px;
    color: #405089; }

.contact p {
	line-height: 26px;
	color: #666666;
	font-size: 15px;
}
.contact label {
    color: #666666;}

.contact label {
    display: block;
	font-weight: 600;
	font-size: 15px;
}	
.contact input[type=text] {
	width: 100%;
}
input[type=text] {
	height: 54px;
	border: 1px solid #eaebee;
	background: #fff;
	padding: 0 20px;
}
button, input {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.contact textarea {
    width: 100%;
}

.contact .section-title h6 {
    font-size: 16px;
    color: #0d0337;
	line-height: 24px;
	font-weight: 500;
    margin-bottom: 0;
}

textarea {
    height: 144px;
    border: 1px solid #eaebee;
    background: #fff;
	padding: 20px;
	font-size: 15px;
}
textarea {
    overflow: auto;
	resize: vertical;}
	
.contact input[type=submit] {
		border: none;
		background: #fdd947;
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
}
	
.contact input[type=submit] {
		height: 54px;
		border: 1px solid #eaebee;
		color: #fff;
		background: #0d0337;
		padding: 0 40px;
		font-weight: 600;
	}

	.contact a {
		color: #0d0337;
	}
	
	.contact input[type=text] {
		width: 100%;
		font-size: 15px;
	}
	
	input[type=text] {
		height: 54px;
		border: 1px solid #eaebee;
		background: #fff;
		padding: 0 20px;
	}

.contact .map {margin: 20px 0;}
.contact .map img {width: 100%;}

/* ============================================================Contact us page End =========================================================*/

@media only screen and (max-width: 767px){
/*html, body { overflow-x:hidden;}*/

.content {padding: 70px 0;}
.contact {padding: 70px 0;}
.solutions {padding: 70px 0;}
.title-section p {padding: 0;}
.title-section .subtitle {float: none;}

body { overflow-x:hidden;}
.container { width:100% !important;}
.canvas { margin:0!important; padding:0!important;}

.carousel-caption h3 {font-size: 30px;}
.carousel-caption {width: 80%; left: 15% !important; }
.carousel-caption p {font-size: 16px; font-weight: 400;}
.btn-discover {line-height: 26px; padding: 10px 30px;}
.social-media {margin-bottom: 0;}

.top-menu {height: auto;}
.nav-m-bar .menu-bars {background: url(../images/menubar-white.png) no-repeat;width: 21px;height: 23px;display: inline-block;vertical-align: middle;}
.nav-div .closebtn {position: absolute;color: #fff;background: #0d0337 !important;top: 0;min-width: 50px;text-align: center;height: 50px;display: flex;justify-content: center;align-items: center;right: 0;font-size: 44px;font-weight: 300;}

.title-section h3 {padding-left: 20px;}
.bg-navigation {top: 0px; }
.banner-section {top: 0;}
.for-content-section {height: auto;}
.for-content-div {top: 0;}
.intro-div {background-color: #0d0337; background-image: none;}
.intro-box {padding: 50px 0px;}

.gray-content-div {padding: 50px 0;}

.work-together {padding: 50px 30px;}
.div-btn-work h1 {font-size: 30px; margin-bottom: 30px;}

.menu-bottom ul li {display: block;}
.menu-bottom ul li:first-child a {padding: 10px 20px;}
.menu-bottom ul li a {line-height: 24px;} 
.menu-bottom, .menu-socical-mdeia{display: flex; flex-direction: column;align-content: center; text-align: center; justify-content: center; align-items: center;}
.menu-socical-mdeia ul li:last-child a {padding-right: 20px;}
.footer-bottom .text-right {text-align: center !important;}
.footer-bottom p {text-align: center;}
/* navigation */
.middle-container { padding:0 0 20px 0px; margin: 0 0 0 0; }
.header-div { padding: 0;margin: 0; height: 100px; }
.nav-div .closebtn { display:block;}
.nav-m-bar {position: relative;top: 0;right: 20px;}
.ullist-inline li a {color: #fff !important; }
.nav-m-bar .menu-bars{ background:url(../images/menubar-white.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}

/* The side navigation menu */
.nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #0d0337;  overflow-x: hidden;  padding-top: 60px; transition: 0.5s;  }
.nav-div .closebtn { position: absolute;color: #fff; background: #0d0337; top:0;min-width: 50px; text-align: center; height: 50px; display: flex; justify-content: center; align-items: center; right: 0; font-size:44px; font-weight:300; }
.nav-div .closebtn:hover { color: #fff;}
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }
.ullist-inline { height: auto;}
.body-listing { min-height: 100%;}
/* End of navigation */

.showcases .masonry li {width: 100%; display: block; left: 0 !important; top:0 !important; position: relative !important;}
.showcases .masonry li.double {width: 100%; left: 0 !important; top: 0 !important; position: relative !important;} 
.showcases .masonry {height: auto !important;}
.showcases .masonry {padding: 50px 0;}
.showcases { margin: 0;}

div#cd-shadow-layer { HEIGHT: 100vh; position: fixed; background: rgba(0, 0, 0, 0.8);width: 100%;top: 0;left: 0;display: none; /* display: flex !important; */ z-index: 9999;}
.carousel-item img {height: 500px;}
.featureBox {padding: 20px;}
.aboutus-section .Border-bottom {border-top: 1px solid #d9d9d9;}

.menu-bottom, .menu-socical-mdeia {margin: 20px 0;}
.solutions .sidebar {margin-bottom: 20px;}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
.container { width:100% !important;}

/*html, body { overflow-x:hidden;}*/
body { overflow-x:hidden;}
.canvas { margin:0!important; padding:0!important;}

/* custom css */	
.wrapper .container { max-width: 100%; }
.count-box1 { margin: 0 0 20px 0; width: 33%; }
.padding-left10 { padding-left: 0; }
.padding-right10 { 	padding-right: 0px; }
.toprow-div { min-height: 100%; display: block; align-items: center; }
.col-div11 { min-width: 100%; }
.toprow-div .title-div1 { padding: 0; }
.col-div1.col-exep{ width: 100%; padding: 20px 0 20px 0; }
.col-div1 { padding: 0 25px 0 0; }
.bottomhover-row .width-75per{ width: 50%; }
.bottomhover-row .width-25per { width: 50%; }	
.footer-div .ul-listing { width: 170px; }
.top-nav2 { padding: 0 50px 0 0; margin: 0; float: right; }
.nav-m-bar{ position: absolute; top: 0px; right: 20px; height: 65px; justify-content: center; align-items: center; display: inline-block; }
.nav-m-bar a{ height: 100%; display: flex; justify-content: center; align-items: center; }
.user-dropdown .dropdown-menu li a { font-size: 12px; }
.body-listing { min-height: 100%; }

/* mobile navigation start */
.nav-div .closebtn { display:block;}
.nav-m-bar { position: absolute; top: 0px; right: 20px;}
.nav-m-bar .menu-bars{ background:url(../images/menubar-white.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color:transparent!important;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #0d0337; overflow-x: hidden; padding-top: 60px; transition: 0.5s; z-index: 333; }
.nav-div .closebtn { position: absolute;color: #fff; background: #0d0337; top:0;min-width: 50px; text-align: center; height: 50px; display: flex; justify-content: center; align-items: center; right: 0; font-size:44px; font-weight:300; }
.nav-div .closebtn:hover { color: #fff; }
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }
.ullist-inline { height: auto; }
/* End of navigation */

.nav-m-bar {top: 15px;}
div#cd-shadow-layer {HEIGHT: 100vh;position: fixed;background: rgba(0, 0, 0, 0.8);width: 100%;top: 0;left: 0;display: none;/* display: flex !important; */z-index: 99;}
.carousel-item img { height: 600px;}
.showcases .masonry li {width: 50%; height: 100%; display: block; left: 0 !important; top:0 !important; position: relative !important;}
.showcases .masonry li.double {width: 50%;  height: 100%; left: 0 !important; top: 0 !important; position: relative !important;} 
.showcases .masonry {height: auto !important;}
.showcases .masonry {padding: 50px 0;}
.showcases { margin: 0;}

.intro-div {background-color: #0d0337; background-image: none; height: auto}
.intro-box {padding: 50px 30px;}
.menu-bottom ul li a {padding: 10px 8px;}
.menu-socical-mdeia ul li a {padding: 10px 15px;}

.carousel-caption h3 {font-size: 30px;}
.carousel-caption {width: 80%; left: 15% !important; }
.carousel-caption p {font-size: 16px; font-weight: 400;}
.btn-discover {line-height: 26px; padding: 10px 30px;}

ul.carousel-indicators {bottom: 50px;}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
	.header-div  .container {max-width: 100%;}
  }
@media only screen and (min-width: 1024px) and (max-width: 1366px)
{

	.intro-div {
		background-image: url(../images/bg-intro.jpg);
		background-repeat: no-repeat;
		height: auto;
		background-size: cover;
		background-position: center;
	}


}	
@media only screen and (min-width: 1025px) and (max-width: 1281px)
{}


